@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #489ef5);
    color: #333;
}

header {
    background-color: #001f3f; /* Mörkblå */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header .logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin: 0;
}

nav {
    background-color: #004080; /* Blå */
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

h2 {
    color: #004080; /* Blå */
}

.episode {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #001f3f; /* Mörkblå */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
