@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #489ef5);
    color: #333;
}

header {
    background-color: #001f3f; /* Mörkblå */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;
    position: relative;
    top: 10px;
    left: 10px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin: 0;
}

nav {
    background-color: #004080; /* Blå */
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    margin-bottom: 60px;
}

h2 {
    color: #004080; /* Blå */
}

.episodepicture {
    width: auto;
    height: auto;
    justify-content: center;
    /* position: absolute; */
    border-radius: 8px;
    /* top: 10px; */
    right: 60px;

}

@media (max-width: 530px) {
    .episodepicture {
        width: 320px;
    }
}

.episode {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #001f3f; /* Mörkblå */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3 {
    font-family: 'Arial', sans-serif; /* Välj ett rent och modernt typsnitt */
    font-size: 24px; /* Storlek på texten */
    color: #333; /* Färg på texten */
    text-transform: uppercase; /* Gör texten versal */
    letter-spacing: 2px; /* Mellanrum mellan bokstäver */
    text-align: center; /* Centrerar texten */
    margin: 20px 0; /* Lägger till lite utrymme ovanför och nedanför */
    position: relative; /* Nödvändig för pseudo-elementen */
}

h3::before,
h3::after {
    content: '';
    position: absolute;
    height: 3px; /* Höjd på linjerna */
    width: 50px; /* Bredd på linjerna */
    background-color: #333; /* Färg på linjerna */
    top: 50%; /* Vertikal positionering */
}

h3::before {
    left: 0; /* Positionering av linje till vänster */
    transform: translateX(-100%);
}

h3::after {
    right: 0; /* Positionering av linje till höger */
    transform: translateX(100%);
}
